<div>
    <div [ngClass]="{'on-sale': article.isOnSale}">
        <h2>{{ article.name }}</h2>
        <img [src]="article.imageUrl" alt="Imagen del artículo">
        <p [ngClass]="{'price': article.isOnSale, 'unavailable-price': !article.isOnSale}">
            Precio: {{ article.price | currency }}
        </p>
        <div *ngIf="article.isOnSale === true">
            <p>Cantidad en el carrito: {{ article.quantityInCart }}</p>
            <button (click)="incrementQuantity()">Incrementar</button>
            <button (click)="decrementQuantity()" [disabled]="article.quantityInCart === 0">Decrement</button>
        </div>
    </div>
 </div>
  